.logo {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.menu-icon div {
  width: 30px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

main {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

main h1 {
  color: rgb(20, 130, 199);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 20px;
}

main h2 {
  font-size: 1.5em;
  color: #000000;
  margin: 20px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.sessões {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  gap: 20px;
}

.sessões section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sessões img {
  width: 50px;
  height: auto;
  margin-bottom: 15px;
}

.sessões h6 {
  margin: 10px 0;
}

.sessões p {
  margin: 0;
}

/* Responsividade 3 sessões (Missão Visao Valores/Quem Somos/Objetivo) */
@media (max-width: 540px) {
  .sessões {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .sessões section {
    width: 100%;
    padding: 10px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
